<ion-card *ngFor="let product of orderproduct">
  <ion-card-header>
    <ion-card-subtitle>
      <ion-label>
        11 July, 2022 8:00PM
      </ion-label>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <div class="flex-item-center">
            <span class="small-gap"></span>
            <ion-label color="danger">Pending</ion-label>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-end">
            <span style="opacity: 0.8;">Rs {{ product.price }}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="flex-item-center">
      <div>[1]</div>
      <span class="small-gap"></span>
      <div>{{ product.name }}</div>
    </div>
    <div class="small-vertical-height"></div>


  </ion-card-content>
</ion-card>
